@model dynamic

@{
    ViewBag.Title = "React Store : Welcome";
}

<div class="row">
    <div class="col-xs-7">
        <h2 class="title">Books</h2>

        <div id="category-menu"></div>

        <div class="books-list row" id="product-list">
        </div>

    </div>

    <div class="col-xs-4">
        <div id="cart"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
    </div>
    <div class="col-xs-4">


    </div>
</div>
@section scripts
{
    <script src="~/assets/scripts/store-page.react.js"></script>

}
